<ion-view view-title="AirConApp" >
  <ion-content scroll="false" class="home-page">

    <!-- GEOLOCATION TOP ROW -->

    <div class="row">
      <div class="col">
        <button class="button button-block"
                ng-class="{'button-assertive': !gotLoc, 'button-balanced': gotLoc}">
          Geolocation
        </button>
      </div>
    </div>

    <!-- MULTPLE PUSH SCHEDULE ROW -->
    <div class="card" id="multiple-card">
      <form ng-submit="pushMultiple(interval, end)" class="login-form">
        <div class="row">
          <div class="col col-33">
            <div class="card">
              <div class="list">
                <label class="item item-input">
                  <input type="number" ng-model="interval" placeholder="xxx">
                </label>
              </div>
            </div>
          </div>
          <div class="col col-67">
            <div class="card">
              <div class="list">
                <label class="item item-input">
                  <input type="time" ng-model="end" placeholder="End">
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="button button-block button-dark" type="submit">
              Multiple
            </button>
          </div>
        </div>
      </div>
    </form>

    <!-- QUERY AND CANCEL ROW -->

    <div class="row">
      <div class="col">
        <button class="button button-block button-calm" ng-click="isScheduled()">
          Query Scheduled
        </button>
      </div>
      <div class="col">
        <button class="button button-block button-calm" ng-click="cancelAll()">
          Cancel All
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>