<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="checkForUpdate" icon-off="ion-ios-loop" icon-on="ion-ios-loop" ng-click="checkForUpdates()">
    <ion-nav-view name=""></ion-nav-view>
  </ion-tab>

  <ion-tab title="doUpdate" icon-off="ion-ios-download-outline" icon-on="ion-ios-download-outline" ng-click="doUpdate()">
    <ion-nav-view name=""></ion-nav-view>
  </ion-tab>

  <ion-tab title="Logout" icon-off="ion-ios-close-outline" icon-on="ion-ios-close-outline" ng-click="logout()">
    <ion-nav-view name=""></ion-nav-view>
  </ion-tab>

</ion-tabs>
