hooks/
platforms/
plugins/
resources/
scss/
www/assets/lib/
node_modules/

*.sublime-project
*.sublime-workspace
*.keystore

.io-config.json
build.json
ionic.project
gulpfile.js
AirConApp/config/global.json
AirConApp/public/index.html
AirConApp/.parse.project
AirConApp/.parse.local