hooks/
platforms/
plugins/
resources/
scss/
www/assets/lib/

*.sublime-project
*.sublime-workspace
*.keystore

.io-config.json
build.json
ionic.project
gulpfile.js
AirConApp/config/global.json
AirConApp/public/index.html