<ion-view view-title="AirConApp Login" hide-nav-bar="true" class="login-page">
  <ion-content scroll="false">

    <div class="padding logo">
      <h1>AirConApp Local</h1>
    </div>

    <form ng-submit="submitForm(username, password, email, signingUp)" class="login-form">
      <div class="list card">
        <label class="item item-input">
          <i class="icon ion-person placeholder-icon"></i>
          <input type="text" ng-model="username" placeholder="Username" >
        </label>
        <label class="item item-input">
          <i class="icon ion-locked placeholder-icon"></i>
          <input type="text" ng-model="password" placeholder="Password">
        </label>
        <label class="item item-input" ng-show="signingUp">
          <i class="icon ion-email placeholder-icon"></i>
          <input type="email" ng-model="email" placeholder="Email Address">
        </label>
      </div>

      <div class="padding-left padding-right">
        <button class="button button-block" type="submit"
                ng-class="{'button-sign-in': !signingUp, 'button-sign-up': signingUp}">
          {{ signingUp ? 'Sign up' : 'Sign in' }}
        </button>
      </div>
    </form>

    <div class="padding login-text" ng-click="resetPW()">
      {{ signingUp ? '' : 'Forgotten your password?' }}
    </div>

    <div class="padding login-text" ng-click="signingUp = !signingUp">
      {{ signingUp ? 'Have an account? Sign in!' : 'Need an account? Sign up!' }}
    </div>

    <div class="padding login-text" id="login-version">
      v0.5.0
    </div>

  </ion-content>
</ion-view>