<ion-view view-title="AirConApp" on-swipe-left="goSettings()" nav-transition="android">
  <ion-content scroll="false" class="home-page">

    <!-- GEOLOCATION TOP ROW -->

    <div class="row">
      <div class="col">
        <button class="button button-block" ng-click="toggleBgGeo()"
                ng-class="{'button-assertive': !bgGeoEnabled, 'button-balanced': bgGeoEnabled}">
          Geolocation
        </button>
      </div>
    </div>

    <!-- MULTPLE PUSH SCHEDULE ROW -->

    <div class="card">
      <div class="list list-inset card">
        <label class="item item-input">
          <input type="number" placeholder="Interval" ng-model="multiple.interval">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-royal" ng-click="showPicker()">Multiple</button>
      </div>
    </div>

    <!-- QUERY AND CANCEL ROW -->

    <div class="row">
      <div class="col">
        <button class="button button-block button-calm" ng-click="isScheduled()">
          Query Scheduled
        </button>
      </div>
      <div class="col">
        <button class="button button-block button-calm" ng-click="cancelAll()">
          Cancel All
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>