<ion-view view-title="AirConApp" on-swipe-left="goSettings()" nav-transition="android" hide-nav-bar="false">
  <ion-content scroll="false" class="home-page">

    <div class="card">
      <div class="list list-inset card">
        <label class="item item-input">
          <input type="text" placeholder="Current job / location" ng-model="multiple.location">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block" ng-click="validateInput()"
            ng-class="{'button-assertive': !gotLoc, 'button-balanced': gotLoc}">
            {{ gotLoc ? 'Set alert schedule' : 'Wait for GPS' }}
          </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p>Countdown: {{ countdown.mins }}:{{ countdown.secs }}</p>
        <p>Pushes Left: {{ countdown.pushesLeft }}</p>
      </div>
      <div class="col">
        <button class="button button-block button-calm" ng-click="cancelAll()">
          Cancel All
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button class="button button-block button-dark" ng-click="pushBack()">
          Push Back Countdown
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>