<ion-view view-title="AirConApp" on-swipe-right="goHome()" nav-transition="android" hide-nav-bar="false">
  <ion-content scroll="false" class="settings-page">

    <div class="row">
      <div class="col">
        <button class="button button-block button-dark" ng-click="gotoAPK()">
          Grab new APK
        </button>
      </div>
    </div>

    <ul class="list">
      <li class="item item-toggle">
         JS Console
         <label class="toggle toggle-royal">
           <input type="checkbox" ng-change="jsconsoleToggle(jscChecked)" ng-model="jscChecked" ng-disabled="jscChecked">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
    </ul>

    <div class="row">
      <div class="col">
        <button class="button button-block button-calm" ng-click="sendAck()">
          RESET
        </button>
      </div>
    </div>

    <form ng-submit="pushSchedule(localMinutes)" class="login-form">
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="number" ng-model="localMinutes" placeholder="Seconds" id="seconds-input">
          </label>
          <button class="button button-royal">
            Schedule Local
          </button>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col">
        <button class="button button-block button-stable" ng-click="checkForUpdates()">
          Check For Updates
        </button>
      </div>
      <div class="col">
        <button class="button button-block button-calm" ng-click="doUpdate()">
          Apply Update
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button class="button button-block button-calm" ng-click="showParseQueue()">
          ParseQueue
        </button>
      </div>
      <div class="col">
        <button class="button button-block button-stable" ng-click="showPushQueue()">
          PushQueue
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>