/* Generic stylings */
.action-button {
  font-weight: bolder;
}

.row {
  padding: 0;
}

/* Splash page stylings */
.splash-page {
  background: black;
}

.splash-page .card {
  margin-top: 20px;
}

.splash-page .logo h1 {
  margin-top: 30px;
  text-align: center;
  color: #fff !important;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  letter-spacing: -3px;
  font-size: 42px;
}

.splash-page .signup-opt {
  color: #fff;
  padding: 15px;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

/* Home page stylings */
.home-page .button.button-block {
  margin-top: 8px;
  margin-bottom: 8px;
}