/* Generic stylings */
.action-button {
  font-weight: bolder;
}

body {
  font-family: 'Roboto', Verdana, Geneva, sans-serif;
}

.row {
  padding: 0;
}

/* Splash page stylings */
.splash-page {
  background: #607D8B;
  font-weight: 500;
  color: white;
}

.splash-page .logo h1 {
  margin-top: 30px;
  text-align: center;
  font-weight: 300;
  color: white;
  letter-spacing: -2px;
  font-size: 42px;
}

.splash-page .card {
  margin-top: 15px;
}


.splash-page .item-input {
  min-height: 70px;
}

.splash-page input[type="text"] {
  padding-left: 10px;
}

.splash-page .button {
  color: white;
  margin: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.splash-page .button-sign-in {
  background-color: #65caff;
  border-color: #65caff;
}

.splash-page .button-sign-up {
  background-color: #81C784;
  border-color: #81C784;
}

.splash-page .splash-text {
  font-size: 14px;
  opacity: 0.7;
  padding: 0px;
  margin-top: 35px;
  text-align: center;
  cursor: pointer;
}

.splash-page #splash-version {
  position: fixed;
  width: 100%;
  bottom: 20px;
}

/* Home page stylings */
.home-page .button.button-block {
  margin-top: 8px;
  margin-bottom: 8px;
}
