/* Generic stylings */
body {
  font-family: 'Roboto', Verdana, Geneva, sans-serif;
}

body .pane {
  background-color: #fafafa;
}

.bar.bar-custom {
  border-color: #377d9f;
  background-color: #5c94ae;
  color: #fff;
}

.bar.bar-custom .title {
    color: #fff;
}

.tabs-background-custom .tabs, .tabs-background-custom > .tabs {
  background-color: #5c94ae;
  border-color: #377d9f;
}

/* Splash page stylings */
.splash-page {
  background: #5c94ae;
  font-weight: 500;
  color: white;
}

.splash-page .logo h1 {
  margin-top: 30px;
  text-align: center;
  font-weight: 300;
  color: white;
  letter-spacing: -2px;
  font-size: 42px;
}

.splash-page .card {
  margin-top: 15px;
}


.splash-page .item-input {
  min-height: 70px;
}

.splash-page input[type="text"] {
  padding-left: 10px;
}

.splash-page .button {
  color: white;
  margin: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.splash-page .button-sign-in {
  background-color: #65caff;
  border-color: #55a5ce;
}

.splash-page .button-sign-up {
  background-color: #81C784;
  border-color: #669f69;
}

.button.button-sign-in.active, .button.button-sign-in.activated {
  border-color: #55a5ce;
  background-color: #55a5ce;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}

.button.button-sign-up.active, .button.button-sign-up.activated {
  border-color: #669f69;
  background-color: #669f69;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}

.splash-page .splash-text {
  font-size: 14px;
  opacity: 0.7;
  padding: 0px;
  margin-top: 35px;
  text-align: center;
  cursor: pointer;
}

.splash-page #splash-version {
  position: fixed;
  width: 100%;
  bottom: 20px;
}

/* Home page stylings */
.home-page .button.button-block {
  margin-top: 8px;
  margin-bottom: 8px;
}

.home-page #multiple-card {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Settings page styling */
.settings-page .list {
  margin-bottom: 0;
}

.settings-page #seconds-input {
  height: 45px;
}